@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html,
body,
#root {
	height: 100%;
}

body::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	border-radius: 20px;
}
body::-webkit-scrollbar-corner {
	display: none;
}
body::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
	background-color: #bbf7a3;
	border-radius: 20px;
}

.scrollTextArea::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	border-radius: 20px;
}
.scrollTextArea::-webkit-scrollbar-corner {
	display: none;
}
.scrollTextArea::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
}
.scrollTextArea::-webkit-scrollbar-thumb {
	background-color: #5b5a5e;
	border-radius: 20px;
}
